.masthead img {
    height: 100%;
    width: 100%;
}

.head {
    margin-top: -600px;
    font-weight: bold;
    color: white;
    font-size: 70px;
    text-align: center;
}

.lead {
    text-align: center;
    font-weight: bold;
    color: black;
    margin-top: 50px;
}

.btn-1 {
    text-align: center;
}

.btn-1 a {
    background-color: coral;
    border-radius: 50px;
    font-weight: bold;
}

.page-section {
    margin-top: 100px;
}

h2 {
    margin-top: 200px;
}

.text-white {
    margin-bottom: 50px;
}

.btn {
    margin-bottom: 100px;
    border-radius: 25px;
}

hr {
    background-color: white;
    width: 50px;
    padding: 1px;
}

.page-section1 {
    margin-bottom: 100px;
}